
h1{
    text-align:center;
}
.tftable {font-size:12px;
        color:#333333;
        width:80%; 
        border-width:1px;
        border-collapse: collapse;
        margin: 0 auto; 
}
td {font-size:12px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            height: 30em; 
            width: 25%;
            background-size: cover;
}

.tftable tr {
            height: 30em;}
img{
    height:10em ;
    width:12.5em ;
}
.marcador{
    width: 80%;;
    margin-left: 10%;
}

